:root {

  --color-white: #fff;
  --color-black: #010202;

  --color-section: #F8F8F8;

  --color-primary-light: #757ce8;
  --color-primary: #DDDDDD;
  --color-primary-dark: #002884;
  --color-primary-focus: rgba(63,80,181, 0.25);
  --color-primary-text: #010202;

  --color-secondary-light: #EAEAEA;
  --color-secondary: #EBEBEB;
  --color-secondary-dark: #E0E0E0;
  --color-secondary-focus: rgba(175,175,175, 0.25);
  --color-secondary-text: #000;

  --color-cta-light: #FEEB71;
  --color-cta: #FEE440;
  --color-cta-dark: #F4D301;
  --color-cta-focus: rgba(254,230,72, 0.25);
  --color-cta-text: #000;

  --color-error: #F65C51;
  --color-error-focus: rgba(246, 92, 81, 0.25);

  --color-success: #00964F;
  --color-success-focus: rgba(101, 184,134, 0.25);

  --color-input-background: #F2F2F2;
  --color-input-border: #CED4DA;
  --color-input-focus: rgba(206, 212, 218, 0.25);

  --color-socket: #9F9F9F;
}
