:root {
  --font-primary: 'Kanit', sans-serif;
  --font-secondary: 'Rubik', sans-serif;
  --font-tertiary: 'Roboto', sans-serif;

  --font-size-regular: 1rem;
  --font-size-small: 0.875rem;

  --font-weight-regular: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
