.c-help-box {
  width: calc(100% / 3 - 6*#{var.$spacer});
  margin-left: 9*var.$spacer;

  &:first-child {
    margin-left: 0;
  }

  @include mixin.breakpoint(md) {
    width: 100%;
    margin-left: 0;
    margin-top: 4*var.$spacer;

    &:first-child {
      margin-top: 0;
    }
  }
}
